In [2]:
import requests
import pandas as pd
import psycopg2 
from psycopg2.extras import execute_values

In [4]:
def normalize_data(data_api):
    list_types_names = [item["type"]["name"] for item in data_api["types"]]
    concatenated_types_names = ', '.join(list_types_names)
    return {'id':data_api["id"], 'name':data_api["name"], 'base_experience':data_api["base_experience"], 'height': data_api["height"], 'weight':data_api["weight"], 'types':concatenated_types_names}

In [23]:
pokemons = [
    'bulbasaur', 'ivysaur', 'venusaur', 'charmander', 'charmeleon', 'charizard', 'squirtle', 'wartortle', 'blastoise', 'caterpie', 'pikachu',
    'metapod', 'butterfree', 'weedle', 'kakuna', 'beedrill', 'pidgey', 'pidgeotto', 'pidgeot', 'rattata', 'raticate',
    'spearow', 'fearow', 'ekans', 'arbok', 'pikachu', 'raichu', 'sandshrew', 'sandslash', 'nidoran', 'nidorina',
    'nidoqueen', 'nidoran', 'nidorino', 'nidoking', 'clefairy', 'bulbasaur', 'clefable', 'vulpix', 'ninetales', 'jigglypuff', 'wigglytuff', 'pikachu'
]

url = "https://pokeapi.co/api/v2/"
headers = {"Accept-Encoding": "gzip, deflate"}
global_data = []
for pokemon in pokemons:
    url_dynamic = "pokemon/"+ pokemon
    response = requests.get(url + url_dynamic, headers=headers)
    if response.status_code == 200:
        data = response.json()
        global_data.append(normalize_data(data))

In [25]:
df_pokemons_dirty = pd.DataFrame(global_data)
df_pokemons_dirty

    id        name  base_experience  height  weight           types
0    1   bulbasaur               64       7      69   grass, poison
1    2     ivysaur              142      10     130   grass, poison
2    3    venusaur              263      20    1000   grass, poison
3    4  charmander               62       6      85            fire
4    5  charmeleon              142      11     190            fire
5    6   charizard              267      17     905    fire, flying
6    7    squirtle               63       5      90           water
7    8   wartortle              142      10     225           water
8    9   blastoise              265      16     855           water
9   10    caterpie               39       3      29             bug
10  25     pikachu              112       4      60        electric
11  11     metapod               72       7      99             bug
12  12  butterfree              198      11     320     bug, flying
13  13      weedle               39       3      32     bug, poison
14  14      kakuna               72       6     100     bug, poison
15  15    beedrill              178      10     295     bug, poison
16  16      pidgey               50       3      18  normal, flying
17  17   pidgeotto              122      11     300  normal, flying
18  18     pidgeot              216      15     395  normal, flying
19  19     rattata               51       3      35          normal
20  20    raticate              145       7     185          normal
21  21     spearow               52       3      20  normal, flying
22  22      fearow              155      12     380  normal, flying
23  23       ekans               58      20      69          poison
24  24       arbok              157      35     650          poison
25  25     pikachu              112       4      60        electric
26  26      raichu              243       8     300        electric
27  27   sandshrew               60       6     120          ground
28  28   sandslash              158      10     295          ground
29  30    nidorina              128       8     200          poison
30  31   nidoqueen              253      13     600  poison, ground
31  33    nidorino              128       9     195          poison
32  34    nidoking              253      14     620  poison, ground
33  35    clefairy              113       6      75           fairy
34   1   bulbasaur               64       7      69   grass, poison
35  36    clefable              242      13     400           fairy
36  37      vulpix               60       6      99            fire
37  38   ninetales              177      11     199            fire
38  39  jigglypuff               95       5      55   normal, fairy
39  40  wigglytuff              218      10     120   normal, fairy
40  25     pikachu              112       4      60        electric

In [26]:
df_pokemons_dirty.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34     True
35    False
36    False
37    False
38    False
39    False
40     True
dtype: bool

In [27]:
df_pokemons = df_pokemons_dirty.drop_duplicates(subset='id')
df_pokemons

    id        name  base_experience  height  weight           types
0    1   bulbasaur               64       7      69   grass, poison
1    2     ivysaur              142      10     130   grass, poison
2    3    venusaur              263      20    1000   grass, poison
3    4  charmander               62       6      85            fire
4    5  charmeleon              142      11     190            fire
5    6   charizard              267      17     905    fire, flying
6    7    squirtle               63       5      90           water
7    8   wartortle              142      10     225           water
8    9   blastoise              265      16     855           water
9   10    caterpie               39       3      29             bug
10  25     pikachu              112       4      60        electric
11  11     metapod               72       7      99             bug
12  12  butterfree              198      11     320     bug, flying
13  13      weedle               39       3      32     bug, poison
14  14      kakuna               72       6     100     bug, poison
15  15    beedrill              178      10     295     bug, poison
16  16      pidgey               50       3      18  normal, flying
17  17   pidgeotto              122      11     300  normal, flying
18  18     pidgeot              216      15     395  normal, flying
19  19     rattata               51       3      35          normal
20  20    raticate              145       7     185          normal
21  21     spearow               52       3      20  normal, flying
22  22      fearow              155      12     380  normal, flying
23  23       ekans               58      20      69          poison
24  24       arbok              157      35     650          poison
26  26      raichu              243       8     300        electric
27  27   sandshrew               60       6     120          ground
28  28   sandslash              158      10     295          ground
29  30    nidorina              128       8     200          poison
30  31   nidoqueen              253      13     600  poison, ground
31  33    nidorino              128       9     195          poison
32  34    nidoking              253      14     620  poison, ground
33  35    clefairy              113       6      75           fairy
35  36    clefable              242      13     400           fairy
36  37      vulpix               60       6      99            fire
37  38   ninetales              177      11     199            fire
38  39  jigglypuff               95       5      55   normal, fairy
39  40  wigglytuff              218      10     120   normal, fairy

In [28]:
pokemons_list = [tuple(x) for x in df_pokemons.itertuples(index=False)]
print(pokemons_list)

[(1, 'bulbasaur', 64, 7, 69, 'grass, poison'), (2, 'ivysaur', 142, 10, 130, 'grass, poison'), (3, 'venusaur', 263, 20, 1000, 'grass, poison'), (4, 'charmander', 62, 6, 85, 'fire'), (5, 'charmeleon', 142, 11, 190, 'fire'), (6, 'charizard', 267, 17, 905, 'fire, flying'), (7, 'squirtle', 63, 5, 90, 'water'), (8, 'wartortle', 142, 10, 225, 'water'), (9, 'blastoise', 265, 16, 855, 'water'), (10, 'caterpie', 39, 3, 29, 'bug'), (25, 'pikachu', 112, 4, 60, 'electric'), (11, 'metapod', 72, 7, 99, 'bug'), (12, 'butterfree', 198, 11, 320, 'bug, flying'), (13, 'weedle', 39, 3, 32, 'bug, poison'), (14, 'kakuna', 72, 6, 100, 'bug, poison'), (15, 'beedrill', 178, 10, 295, 'bug, poison'), (16, 'pidgey', 50, 3, 18, 'normal, flying'), (17, 'pidgeotto', 122, 11, 300, 'normal, flying'), (18, 'pidgeot', 216, 15, 395, 'normal, flying'), (19, 'rattata', 51, 3, 35, 'normal'), (20, 'raticate', 145, 7, 185, 'normal'), (21, 'spearow', 52, 3, 20, 'normal, flying'), (22, 'fearow', 155, 12, 380, 'normal, flying'), (23, 'ekans', 58, 20, 69, 'poison'), (24, 'arbok', 157, 35, 650, 'poison'), (26, 'raichu', 243, 8, 300, 'electric'), (27, 'sandshrew', 60, 6, 120, 'ground'), (28, 'sandslash', 158, 10, 295, 'ground'), (30, 'nidorina', 128, 8, 200, 'poison'), (31, 'nidoqueen', 253, 13, 600, 'poison, ground'), (33, 'nidorino', 128, 9, 195, 'poison'), (34, 'nidoking', 253, 14, 620, 'poison, ground'), (35, 'clefairy', 113, 6, 75, 'fairy'), (36, 'clefable', 242, 13, 400, 'fairy'), (37, 'vulpix', 60, 6, 99, 'fire'), (38, 'ninetales', 177, 11, 199, 'fire'), (39, 'jigglypuff', 95, 5, 55, 'normal, fairy'), (40, 'wigglytuff', 218, 10, 120, 'normal, fairy')]

In [29]:
url="data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com"
data_base="data-engineer-database"
user="caromponce_coderhouse"
with open("D:\Coder House\Data Engineering Flex\Proyectos\Entregable1\pwd.txt",'r') as f:
    pwd= f.read()

try:
    conn = psycopg2.connect(
        host=url,
        dbname=data_base,
        user=user,
        password=pwd,
        port='5439'
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [30]:
def load_in_redshift(conn, data, table_name):
    cols= ["id", "name", "base_experience", "height", "weight", "types"]
    sql_dtypes=["INT", "VARCHAR(50)", "INT", "INT", "INT", "VARCHAR(100)"]
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, data)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [31]:
load_in_redshift(conn, pokemons_list, "pokemon")

Proceso terminado